on:
  push:
    branches:
      - main
env:
  DATASET_URL : 'house_prices_dataset.csv'

permissions:
  contents: write 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Setup Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas
          
        # Run automation preprocessing script
      - name: Run automation_preprocessing.py
        run: 
          python Preprocessing/automate_Mohamed.py

        # Push the preprocessed dataset to the repo
      - name : Push preprocessed dataset 
        run : |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add clean_dataset.csv
          git commit -m "Push preprocessed dataset to repo"
          git push
          
          
          
